@model WebApplication8.Models.StudentDetailsViewModel

<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>@ViewBag.Header</h1>
    <div class="row justify-content-center m-3">
        <div class="col-sm-8">
            <div class="card-header">
                <h1>Name :@Model.Student.Name</h1>
            </div>

            <div class="card-body text-center">
                <img class="card-img-top" />
                <h4>StudentID: @Model.Student.StudentId</h4>
                <h4>Address:@Model.Address.City</h4>
            </div>
        </div>
    </div>




</body>
</html>
